/* Set default font and text color for all elements */
* {
    -fx-font-family: "Arial Unicode MS";
    -fx-text-fill: #030303;
}

/* Styling for buttons */
.button {
    -fx-background-color: #FFDE59;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0px 0px;
    -fx-border-radius: 25px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #030303;
    -fx-text-fill: #fff;
}

/* Styling for labels */
.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Styling for text fields */
.text-field {
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.text-field:focused {
    -fx-border-color: #3f51b5;
}

/* Styling for table views */
.table-view {
    -fx-font-size: 14px;
    -fx-selection-bar: #3f51b5;
    -fx-selection-bar-non-focused: #ccc;
}

/* Styling for table columns */
.table-column {
    -fx-font-size: 14px;
    -fx-alignment: center-left;
}

/* Styling for table cells */
.table-cell {
    -fx-font-size: 14px;
    -fx-alignment: center-left;
}

/* Styling for combo boxes */
.combo-box {
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.combo-box:focused {
    -fx-border-color: #3f51b5;
}

/* Styling for list views */
.list-view {
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
}

.list-view:focused {
    -fx-border-color: #3f51b5;
}

.AnchorPane {
}